<!--
<h1>Command#command</h1>
<p>Find me in app/views/command/command.html.erb</p>
-->
<pre>Symphonic TV/VCR Clicker</pre>
<!--
<%=button_to "on/off", :id => '0' %>
<%=button_to "menu", :id => '18' %>
-->
